.button {
    height: 25vh;
    background-color: none;
    margin-bottom: 2vh;
    margin-top: 2vh;
}
.button p{
    color: #FFFF;
    font-size: 4vh;
    font-weight: bolder;
    letter-spacing: 0.5px;
    text-align: center;
}
.btn {
    font-size: 4vh;
    font-weight: bolder;
    color: #FFFF;
    text-decoration: none;
    border-radius: 3.9vh;
    background: none;
    transition: 0.6s;
    padding-bottom: 5px;
    height: 2em;
    width: 7em;
  } 
.btn:hover {
    color: #222222;
    background: #FFFF; 
}
.btn:active {
    background: rgba(230, 6, 6, 0.185);
    box-shadow: 0 3px rgba(238, 6, 6, 0.26) inset;
}
.gradient{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 27vh;
    width: 100%;
    background-attachment: fixed;
    background-image: linear-gradient(to right bottom, #fdfd00, #fef000, #fee300, #fcd600, #fac900, #ffb014, #ff9627, #ff7e37, #ff5357, #ed2f7a, #c5289b, #833ab4);
}
.gradient a{
    border: solid #000 2px;
    text-align: center;
    font-size: 4vh;
    font-weight: bolder;
    color: #FFFF;
    text-decoration: none;
    border-radius: 3.9vh;
    background: none;
    transition: 0.6s;
    padding-top: 15px;
    height: 6vh;
    width: 7em;
}
.gradient a:hover{
    color: #222222;
    background: #FFFF; 
}
@media screen and (max-width: 951px){
    .button {
        height: 30vh;
    }
    .button p{
        font-size: 3vh;
        letter-spacing: 0.1px;
    }
}