@import "./reset.css";
@import "./text.css";
@import "./helios_cond.css";
.main {
    height: 20vw;
    display: flex;
    background-color: rgb(0, 229, 255);
    border-bottom: solid rgb(164, 164, 255) 2px;
}

.main .pay_and_sign_up {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    padding: 1vw;
    border-radius: 45vw;
    position: absolute;
    margin-top: -2.7vw;
    margin-left: 35vw;
    font-size: 1vw;
}

.main .pay_and_sign_up:hover {
    background-color: rgb(221, 2, 2);
    transition: 0.5s;
}

.main h2 {
    margin-left: 4vw;
    margin-top: 4vw;
    width: 50vw;
}

.main h3 {
    margin-top: 2vw;
    margin-left: -2vw;
    color: rgb(250, 74, 74);
}

.main h4 {
    margin-top: 2vw;
    margin-left: 4vw;
}

.main_img {
    height: 20vw;
}

.about_us {
    display: flex;
    margin-top: 2vw;
    margin-bottom: 5vw;
}

.about_us_img {
    flex-grow: 1;
    width: 45vw;
    margin-left: 8vw;
    margin-top: auto;
    margin-bottom: auto;
}

.about_us_text {
    flex-grow: 1;
    margin-right: 15vw;
    margin-left: 3vw;
    margin-top: 2vw;
}

.about_us_text_color {
    color: #fcb500;
}

.about_us_2_mob {
    display: none;
}

.about_us_2 {
    display: flex;
    height: auto;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-bottom: solid rgb(164, 164, 255) 2px;
    border-top: solid rgb(164, 164, 255) 2px;
}

.about_us_2_ars {
    width: 33vw;
    text-align: right;
    margin-left: 2vw;
    margin-right: -13vw;
}

.about_us_2_ars h5,
.about_us_2_kris h5 {
    margin-bottom: 1vw;
    color: #fcb500;
}

.about_us_2_img {
    width: 60vw;
    margin-top: -2vw;
}

.about_us_2_kris {
    width: 33vw;
    text-align: left;
    margin-right: 2vw;
    margin-left: -13vw;
}

.program {
    padding-top: 5vw;
    border-bottom: solid rgb(164, 164, 255) 2px;
    border-top: solid rgb(164, 164, 255) 2px;
    padding-bottom: 3vw;
}

.program h2 {
    text-align: center;
}

.program p {
    text-align: center;
    letter-spacing: 0.5vw;
}

.program_blocks {
    margin-top: 6vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 2vw;
    margin-right: 2vw;
}

.program_blocks_1 {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    margin-left: 2vw;
    margin-bottom: 5vw;
}

.program_blocks_1 img {
    margin-top: 1vw;
    height: 5vw;
    width: 5vw;
}

.program_blocks_2 {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    margin-right: 2vw;
    margin-bottom: 2vw;
}

.program_blocks_2 img {
    margin-top: 1vw;
    height: 5vw;
    width: 5vw;
}

.program_blocks_3 {
    grid-column: 2;
    grid-row: 2;
    display: flex;
}

.program_blocks_3 img {
    margin-top: 1vw;
    height: 5vw;
    width: 5vw;
}

.program_blocks_3 h5,
.program_blocks_2 h5,
.program_blocks_1 h5 {
    margin-left: 1.5vw;
    margin-bottom: 0.5vw;
    color: rgb(7, 134, 177);
}

.program_blocks_3 p,
.program_blocks_2 p,
.program_blocks_1 p {
    text-align: left;
    letter-spacing: 0.1vw;
    margin-left: 1.5vw;
    line-height: 1vw;
}

.for_you {
    border-top: solid rgb(164, 164, 255) 2px;
    padding-bottom: 5vw;
    padding-top: 5vw;
    background-image: url(../media/6c77cbbd1a8046f51fe5a5a774049ebd.jpg);
    z-index: -1;
}

.for_you img {
    width: 1.5vw;
    height: 1.5vw;
    margin-right: 1vw;
}

.for_you h2 {
    text-align: center;
    margin-bottom: 5vw;
}

.for_you ul {
    margin-left: 20vw;
}

.for_you li {
    display: flex;
}

.for_you p {
    font-weight: 700;
    margin-bottom: 1.3vw;
}

.accordion {
    background-image: linear-gradient(to bottom, rgb(245, 254, 255), rgb(221, 235, 255), rgb(198, 215, 255), rgb(174, 196, 255), rgb(151, 176, 255), rgb(127, 157, 255), rgb(112, 167, 247), rgb(96, 177, 239), rgb(81, 187, 231), rgb(66, 196, 223), rgb(50, 206, 215), rgb(35, 216, 207));
    color: #000000;
    cursor: pointer;
    padding: 0.9vw;
    padding-left: 2vw;
    width: 100%;
    border: solid #2980b9 1px;
    border-radius: 1.5vw;
    text-align: left;
    outline: none;
    font-size: 1vw;
    transition: 0.4s;
    width: 100vw;
    margin-top: 0.5vw;
    width: 50vw;
    margin-left: 25vw;
}

.money {
    border-bottom: solid rgb(164, 164, 255) 2px;
    padding-bottom: 3vw;
    padding-top: 3vw;
    background-image: linear-gradient(to bottom left, rgb(250, 250, 250), rgba(229, 227, 250, 0.91), rgba(208, 205, 251, 0.82), rgba(188, 182, 251, 0.73), rgba(167, 159, 252, 0.64), rgba(146, 136, 252, 0.55), rgba(125, 114, 253, 0.45), rgba(104, 91, 253, 0.36), rgba(83, 68, 254, 0.27), rgba(63, 45, 254, 0.18), rgba(42, 23, 255, 0.09), rgba(21, 0, 255, 0));
}

.money h2 {
    text-align: center;
    margin-bottom: 3vw;
}

.money h4 {
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    text-align: center;
    font-weight: bolder;
}

.money_1 h4 {
    color: #e11fda;
}

.money_2 h4 {
    color: #e11fda;
    position: relative;
}

.money_suggestions {
    display: flex;
}

.money_1,
.money_2,
.money_3,
.money_4 {
    margin-left: auto;
    margin-right: auto;
    border: solid rgb(227, 227, 255) 2px;
    border-radius: 2vw;
    text-align: left;
    width: 23vw;
    font-weight: 700;
    position: relative;
    display: inline-block;
}

.money_1:hover,
.money_2:hover
/*, .money_3:hover, .money_4:hover*/

{
    background-color: rgba(240, 80, 255, 0.35);
    transition: 0.4s;
}

.money_3,
.money_3 h4,
.money_4,
.money_4 h4 {
    color: rgba(131, 131, 131, 0.487);
    font-weight: 900;
}

.money {
    font-size: 1vw;
    font-weight: 100;
    line-height: 2vw;
}

.money img {
    width: 1.5vw;
}

.money li {
    margin-left: 1vw;
    margin-right: 1vw;
}

.money .price {
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 3vw;
    margin-bottom: 2.5vw;
}

.money .pay_and_sign_up {
    color: rgb(226, 213, 213);
    background-color: rgb(255, 0, 0);
    padding: 1vw;
    border-radius: 45vw;
    position: absolute;
    bottom: 0;
    margin-left: 15%;
    margin-bottom: 3vw;
}

.money .pay_and_sign_up:hover {
    background-color: rgb(169, 0, 0);
    transition: 0.5s;
}

.questions {
    padding-top: 5vw;
}

.questions h2 {
    text-align: center;
    margin-bottom: 3vw;
}

.active,
.accordion:hover {
    background-image: linear-gradient(to bottom left, rgb(250, 250, 250), rgba(229, 227, 250, 0.91), rgba(208, 205, 251, 0.82), rgba(188, 182, 251, 0.73), rgba(167, 159, 252, 0.64), rgba(146, 136, 252, 0.55), rgba(125, 114, 253, 0.45), rgba(104, 91, 253, 0.36), rgba(83, 68, 254, 0.27), rgba(63, 45, 254, 0.18), rgba(42, 23, 255, 0.09), rgba(21, 0, 255, 0));
}

.panel {
    padding: 0 18px;
    padding-left: 2vw;
    display: none;
    background-color: white;
    overflow: hidden;
    width: 47vw;
    margin-left: 25vw;
}

.reviews {
    border-top: solid rgb(164, 164, 255) 2px;
    margin-top: 5vw;
    background-image: linear-gradient(to bottom left, rgb(250, 250, 250), rgba(229, 227, 250, 0.91), rgba(208, 205, 251, 0.82), rgba(188, 182, 251, 0.73), rgba(167, 159, 252, 0.64), rgba(146, 136, 252, 0.55), rgba(125, 114, 253, 0.45), rgba(104, 91, 253, 0.36), rgba(83, 68, 254, 0.27), rgba(63, 45, 254, 0.18), rgba(42, 23, 255, 0.09), rgba(21, 0, 255, 0));
}

.reviews img {
    margin: auto;
    width: 20vw;
    height: 30vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 10%;
}

.footer {
    border-top: solid rgb(164, 164, 255) 2px;
    height: auto;
    background-color: rgb(55, 52, 52);
    color: rgb(226, 213, 213);
}

.footer h6 {
    font-weight: bold;
    color: rgb(253, 253, 253);
    padding-top: 2vw;
    text-align: center;
}

.ul_li {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
    padding-bottom: 2vw;
}

ul {
    flex: 0 0 30vw;
}

.ul_li li {
    margin-top: 0.5vw;
    margin-left: 12.5vw;
    font-size: 1vw;
    font-weight: 100;
    color: rgb(226, 213, 213);
}

.footer p {
    color: rgb(255, 255, 255);
    margin-top: 2vw;
    text-align: center;
    font-size: 0.6vw;
}

footer .contacts {
    width: 10vw;
}

footer .contacts img {
    width: 3vw;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.inst {
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.inst img {
    width: 3vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

@media screen and (max-width: 481px) {
    .main {
        height: 40vw;
    }
    .main h2 {
        width: 90vw;
        font-size: 5vw;
        margin-left: 10vw;
    }
    .main h3 {
        margin-top: 4vw;
        font-size: 5vw;
    }
    .main h4 {
        font-size: 5vw;
        text-align: center;
    }
    .main img {
        display: none;
    }
    .main .pay_and_sign_up {
        font-size: 5vw;
        margin-top: 2vw;
        margin-left: 23vw;
    }
    .about_us {
        flex-direction: column;
    }
    .about_us_text {
        margin: auto;
    }
    .about_us img {
        width: 60vw;
        margin-right: auto;
        margin-left: auto;
    }
    .about_us_text p {
        font-size: 2.5vw;
        text-align: center;
    }
    .about_us_text h6 {
        font-size: 3vw;
        text-align: center;
    }
    .about_us_2 {
        display: none;
    }
    .about_us_2_mob {
        display: block;
        border-top: solid rgb(164, 164, 255) 2px;
        text-align: center;
    }
    .about_us_2_mob h5 {
        font-size: 3vw;
        color: #fcb500;
    }
    .about_us_2_mob p {
        font-size: 2.5vw;
        margin-bottom: 2vw;
    }
    .about_us_2_mob img {
        width: 40vw;
        margin-bottom: 5vw;
    }
    .for_you p {
        font-size: 2.4vw;
    }
    .for_you ul {
        padding-left: 2vw;
        margin-left: 0;
        padding-right: 1vw;
    }
    .for_you img {
        margin-top: 1vw;
        width: 2vw;
    }
    .program_blocks {
        display: flex;
        flex-direction: column;
    }
    .program h2 {
        font-size: 5vw;
    }
    .program img {
        width: 15vw;
        height: 15vw;
        margin-top: 3vw;
        margin-left: 2vw;
    }
    .program h5 {
        font-size: 2.4vw;
        padding-left: 2vw;
        margin-top: 4vw;
    }
    .program p {
        font-size: 2.5vw;
        line-height: 3vw;
        margin-right: 2vw;
        padding-left: 2vw;
    }
    .money_suggestions {
        display: flex;
        flex-direction: column;
    }
    .money_1,
    .money_2,
    .money_3,
    .money_4 {
        height: 110vw;
        width: 70vw;
    }
    .money li {
        font-size: 2.5vw;
        margin-bottom: 2vw;
        line-height: 3vw;
    }
    .money img {
        width: 4vw;
    }
    .money h4 {
        font-size: 4vw;
    }
    .money .price {
        font-size: 5vw;
        margin-bottom: 4vw;
    }
    .money h2 {
        font-size: 6vw;
        margin-top: 4vw;
        padding-bottom: 4vw;
    }
    .money .pay_and_sign_up {
        font-size: 4vw;
        margin-bottom: 8vw;
        margin-left: 5vw;
        padding: 4vw;
    }
    .questions h2 {
        font-size: 4vw;
    }
    .accordion {
        font-size: 2.5vw;
        width: 96vw;
        margin-left: 2vw;
        margin-bottom: -0.5vw;
    }
    .panel {
        width: 95vw;
        margin-left: 2vw;
        margin-right: 4vw;
    }
    .panel p {
        font-size: 2.5vw;
    }
    .reviews img {
        height: 40vw;
        width: 30vw;
    }
    .footer h6 {
        font-size: 4vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
    .footer li {
        font-size: 2.5vw;
        margin-left: 1vw;
    }
    .footer .ul {
        margin-left: -20vw;
    }
    .footer .contacts {
        width: 50vw;
        margin-right: -10vw;
    }
    .footer .contacts img {
        width: 7vw;
    }
    .inst img {
        width: 10vw;
    }
}