@import "./reset.css";
@import "./text.css";
@import "./helios_cond.css";
p {
    font-size: 2vw;
}

h2 {
    margin-bottom: 2vw;
}

.payment_details {
    margin-left: 19.5vw;
    margin-top: 5vw;
}

.payment {
    margin-top: 5vw;
    width: 100%;
    text-align: center;
    margin-bottom: 5vw;
}

.payment_text_img {
    margin-bottom: 5vw;
}

.payment img {
    width: 40vw;
    margin-top: 1.5vw;
}

.pay_and_sign_up {
    color: rgb(226, 213, 213);
    background-color: rgb(255, 0, 0);
    padding: 2vw;
    border-radius: 45vw;
    margin-top: 13vw;
    font-size: 1.5vw;
}

.pay_and_sign_up:hover {
    background-color: rgb(169, 0, 0);
    transition: 0.5s;
}

.footer {
    margin-top: 2vw;
    height: 20vw;
    background-color: rgb(55, 52, 52);
    color: rgb(226, 213, 213);
}

.footer h6 {
    font-weight: bold;
    color: rgb(253, 253, 253);
    padding-top: 2vw;
    text-align: center;
}

.ul_li {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

ul {
    flex: 0 0 30vw;
}

.ul_li li {
    margin-top: 0.5vw;
    margin-left: 12.5vw;
    font-size: 1vw;
    font-weight: 100;
    color: rgb(226, 213, 213);
}

.footer p {
    color: rgb(255, 255, 255);
    margin-top: 2vw;
    text-align: center;
    font-size: 0.6vw;
}

footer .contacts {
    width: 10vw;
}

footer .contacts img {
    width: 3vw;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.inst {
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.inst img {
    width: 3vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}
@media screen and (max-width: 481px) {
    .payment p {
        font-size: 2.5vw;
    }
    .pay_and_sign_up {
        font-size: 3vw;
    }
    .footer h6 {
        font-size: 4vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
    .footer li {
        font-size: 2.5vw;
        margin-left: 1vw;
    }
    .footer .ul {
        margin-left: -20vw;
    }
    .footer .contacts {
        width: 30vw;
        margin-right: -10vw;
    }
    .footer .contacts img {
        width: 7vw;
    }
    .inst img {
        width: 10vw;
    }
}
