.container_slider {
    margin: 5vh auto;
    width: 90vh;
    height: 50vh;
    overflow: hidden;
    position: relative;
  }
  
  .photo_slider {
    position: absolute;
    animation: round 20s infinite;
    opacity: 0;
    width: 100%;
  }
  
  @keyframes round {
    25% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
  }
  .container_slider img:nth-child(1) {
    animation-delay: 16s;
  }
  
  .container_slider img:nth-child(2) {
    animation-delay: 12s;
  }
  
  .container_slider img:nth-child(3) {
    animation-delay: 8s;
  }
  
  .container_slider img:nth-child(4) {
    animation-delay: 4s;
  }
  .container_slider img:nth-child(5) {
    animation-delay: 0s;
  }
  @media screen and (max-width: 951px){
    .container_slider {
      width: 30vh;
      height: 30vh;
    }
    
    .photo_slider {
      position: absolute;
      animation: round 20s infinite;
      opacity: 0;
      width: 100%;
    }
  }
   